@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');

#top-part-form {
    margin-top: 5%;
    font-family: 'poppins';
    margin-left: 22.7%;
    /* padding-bottom: 1.5%; */
    word-spacing: 4px;
}

#top-part-form a {
    text-decoration: none;
    color: red;
}

#logo {
    cursor: pointer;
}

#logo {
    margin-right: 60%;
}

hr {
    width: 55%;
    margin-top: 3%;
}

form {
    margin-top: 3%;
    margin-left: 22.7%;
}

body {
    background-image: url("https://img.freepik.com/free-photo/pastel-acrylic-abstract-background-vector_53876-102998.jpg?w=2000");
    background-repeat: no-repeat;
}

.label-div {
    font-family: 'montserrat';
    margin-top: 2%;
    margin-bottom: 0.5%;
}

#country {
    font-family: 'poppins';
    padding-left: 1%;
    width: 25%;
    height: 36.4px;
    background-color: #f7f7f7;
    border: 1px solid black;
}

#country:hover {
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input {
    font-family: 'poppins';
    padding-left: 1%;
    width: 69%;
    height: 30px;
    background-color: #f7f7f7;
    border: 1px solid black;
}

input:hover {
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#end-part-form {
    display: flex;
    margin-left: 22.3%;
    justify-content: space-between;
    width: 55%;
    margin-top: 1%;
}

#end-part-form p {
    font-family: 'poppins';

}

#end-part-form p a {
    text-decoration: none;
    color: #d4002a;
}

#end-part-form button {
    font-family: 'montserrat';
    border: none;
    background-color: #d4002a;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    height: 60%;
    width: 170%;
    margin-left: -70%;
    margin-top: 20%;
}

#end-part-form button:hover {
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* eye button for password*/

.input-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 31%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-eye-512.png') no-repeat center center;
    background-size: contain;
}

.eye-icon.hide-password {
    background: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/red-eye-1627576-1379630.png?f=webp&w=256') no-repeat center center;
    background-size: contain;
}