@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');

body {
    background-color: #f0f0f0;
}

#under-nav {
    text-align: center;
    font-family: "poppins";
}

#under-nav p {
    font-family: "quicksand";
}

#xoxo {
    width: 70%;
    margin-left: 13%;
}

#xoxo img {
    width: 100%;
    margin-top: 2%;
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

#xoxo img:hover {
    transform: translateY(-10px) translateX(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}



/* footer css starts from here 👇 */

footer {
    font-family: 'quicksand';
    margin-top: 10%;
    background-color: #f0f0f0;
}

#upperPart div:nth-child(1) button{
    font-family: 'montserrat';
}


hr {
    border: 0;
    height: 1px;
    background-color: #333;
    width: 100%;
}

#upperPart {
    margin: 45px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin-left: 10%;
}

#instagram-round-icon {
    height: 40px;
    width: 40px;
}

#connect-on-social-media p {
    margin-left: -10%;
}

#socialMedia {
    margin-top: 20px;
    margin-left: -10%;
}

#socialMedia svg {
    margin-right: 10px;
    transition: transform 0.2s ease-out;
}

#socialMedia svg:hover{
    transform:translateY(4px) translateX(3px);
}

#socialMedia img {
    margin-right: 10px;
    transition: transform 0.2s ease-out;
}

#socialMedia img:hover{
    transform:translateY(4px) translateX(3px);
}

footer button {
    background-color: red;
    margin-top: 1%;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid black;
}

footer button:hover{
    border: 3px solid black;
}

#midPart {
    display: flex;
    margin: 5px 90px 10px 90px;
    justify-content: space-between;
    font-size: large;
    margin-left: 10%;
}

#mid {
    width: 45%;
    margin-left: 10%;
    margin: 45px 90px 10px 90px;
}

#midPart>div p {
    margin-bottom: 20px;
}


#midPart>div div svg {
    margin-right: 10px;
}

#midTwo {
    margin-top:3.2%;
    display: flex;
}

#midTwo :nth-child(1) {
    margin-right: 50px;
}

#midTwo :nth-child(1) p:hover {
    color: red;
}

#midPart p {
    margin-top: -15px;
    width: 100%;
    cursor: pointer;
    padding: 10px 10px 5px 0px;
}

#midTwo :nth-child(2) {
    margin-right: 50px;
}

#midTwo :nth-child(2) p:hover {
    color: red;
}

#midTwo :nth-child(3) {
    margin-right: 50px;
}

#midTwo :nth-child(3) p:hover {
    color: red;
}

#midTwo :nth-child(4) {
    margin-right: 50px;
}

#midTwo :nth-child(4) p:hover {
    color: red;
}

#midTwo :nth-child(5) {
    margin-right: 50px;
}

#midTwo :nth-child(5) p:hover {
    color: red;
}

#midTwo :nth-child(6) p:hover {
    color: red;
}